beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
gunicorn==19.6.0
idna==2.6
requests==2.18.4
urllib3==1.22
click==6.7
Flask==0.12
Flask-SQLAlchemy==2.1
Flask-Migrate==2.0.3
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
Werkzeug==0.11.15
psycopg2==2.7.4
